<html>
<title>Wordle</title>
<head>
<link rel="stylesheet" href="style.css" type="text/css">
<script src="/editor/html/6485533/2472303/script.js"></script>
</head>
<body onload="getWord()">
<center>
<!--<h1>Orion</h1>-->
<nav>
	<a href="/editor/html/6485533/2472303/index.html">Home</a>
	<a href="/editor/html/6485533/2472303/scoreboard.html">Scoreboard</a>
	<a href="/editor/html/6485533/2472303/contact.html">Contact</a>
	<div class="animation start-home"></div>
</nav>


<style>
.container 		{
	font-family: "Verdana";
	width:800px;
	margin:30px auto 0;
	display:block;
	//text-align: left;
	background:#FFF;
	padding:10px 50px 50px;
}
.sololabel {
	color:#5264AE;
	font-size: 14;
}


</style>
       

<div class="container">

<h2>Wordle Recreation</h2>
<h3>Version 1.2</h3>
<h3>Idea credit to NYTimes</h3>

<form>
    <input type = "text" maxlength="1" class = "letter" id ="letter_one"  onkeyup="next(this, 'letter_two')" ></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_two"  onkeyup="next(this, 'letter_three', 'letter_one')" ></input>
    <input type = "text" maxlength="1" class =" letter" id ="letter_three" onkeyup="next(this, 'letter_four', 'letter_two')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_four" onkeyup="next(this, 'letter_five', 'letter_three')"></input>
    <input type = "text" maxlength="2" class = "letter" id ="letter_five" onkeyup="next(this, null, 'letter_four')" onkeypress="test(event, 'letter_one1')"></input>
</form>


<form class = "disappear" id = "guess1">
    <input type = "text" maxlength="1" class = "letter" id ="letter_one1"  onkeyup="next(this, 'letter_two1')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_two1"  onkeyup="next(this, 'letter_three1', 'letter_one1')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_three1" onkeyup="next(this, 'letter_four1', 'letter_two1')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_four1"  onkeyup="next(this, 'letter_five1', 'letter_three1')"></input>
    <input type = "text" maxlength="2" class = "letter" id ="letter_five1" onkeyup="next(this, null, letter_four1"), onkeypress="testOne(event, 'letter_one2')" ></input>
</form>

<form class = "disappear" id = "guess2">
    <input type = "text" maxlength="1" class = "letter" id ="letter_one2" onkeyup="next(this, 'letter_two2')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_two2" onkeyup="next(this, 'letter_three2', 'letter_one2')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_three2" onkeyup="next(this, 'letter_four2', 'letter_two2')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_four2"  onkeyup="next(this, 'letter_five2', 'letter_three2')"></input>
    <input type = "text" maxlength="2" class = "letter" id ="letter_five2" onkeyup="next(this, null, 'letter_four2')" onkeypress="testTwo(event, 'letter_one3')" ></input>
</form>

<form class = "disappear" id = "guess3">
    <input type = "text" maxlength="1" class = "letter" id ="letter_one3" onkeyup="next(this, 'letter_two3')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_two3"   onkeyup="next(this, 'letter_three3', 'letter_one3')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_three3" onkeyup="next(this, 'letter_four3', 'letter_two3')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_four3" onkeyup="next(this, 'letter_five3', 'letter_three3')"></input>
    <input type = "text" maxlength="2" class = "letter" id ="letter_five3" onkeyup="next(this, null, 'letter_four3')" onkeypress="testThree(event, 'letter_one4')"></input>
</form>

<form class = "disappear" id = "guess4">
    <input type = "text" maxlength="1" class = "letter" id ="letter_one4" onkeyup="next(this, 'letter_two4')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_two4" onkeyup="next(this, 'letter_three4', 'letter_one4')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_three4" onkeyup="next(this, 'letter_four4', 'letter_two4')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_four4"  onkeyup="next(this, 'letter_five4', 'letter_three4')"></input>
    <input type = "text" maxlength="2" class = "letter" id ="letter_five4" onkeypup="next(this, null, 'letter_four4')" onkeypress="testFour(event, 'letter_one5')"></input>
</form>

<form class = "disappear" id = "guess5">
    <input type = "text" maxlength="1" class = "letter" id ="letter_one5" onkeyup="next(this, 'letter_two5')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_two5"  onkeyup="next(this, 'letter_three5', 'letter_one5')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_three5" onkeyup="next(this, 'letter_four5', 'letter_two5')"></input>
    <input type = "text" maxlength="1" class = "letter" id ="letter_four5"  onkeyup="next(this, 'letter_five5', 'letter_three5')"></input>
    <input type = "text" maxlength="2" class = "letter" id ="letter_five5" onkeyup="next(this, null, 'letter_four5')" onkeypress="testFive(event)"></input>
</form>
<!--<button type="button" id="check" onclick="check()">Test</button> -->



</div>
</body>
</html>